<%-include('./header.ejs')%>

<br><br>

<div class="container mt-3">
    <h1 class="text-center a">BLOG LIST</h1>
    <div class="row">
        <div class="col-md-4 mt-5">
            <div class="card shadow-lg h-100">
                <img src="https://res.cloudinary.com/dbteh0acf/image/upload/v1718108548/blogImage/yxhezkl4bnpp4neufmof.jpg"
                    alt="" height="280px">
                <p style="text-transform: uppercase;">sanni, <span>6/11/2024</span></p>
                <div class="card-body">
                    <h3>kuch bhi</h3>
                    <p>or kuch bhi</p>
                    <a href="" class="btn btn-danger btn-lg " style="text-transform: uppercase;">read more</a>
                </div><!--cardbody end-->

            </div><!--card end-->
        </div>

        <div class="col-md-4 mt-5">
            <div class="card shadow-lg h-100">
                <img src="https://res.cloudinary.com/dbteh0acf/image/upload/v1718108548/blogImage/yxhezkl4bnpp4neufmof.jpg"
                    alt="" height="280px">
                <p style="text-transform: uppercase;">vikash jain, <span>6/11/2024</span></p>
                <div class="card-body">
                    <h3>anything</h3>
                    <p>and anything else</p>
                    <a href="" class="btn btn-danger btn-lg " style="text-transform: uppercase;">read more</a>
                </div><!--cardbody end-->

            </div><!--card end-->
        </div>

        <div class="col-md-4 mt-5">
            <div class="card shadow-lg h-100">
                <img src="https://res.cloudinary.com/dbteh0acf/image/upload/v1684221689/blogImage/efwcqsvjkijmh72i9y9j.jpg"
                    alt="" height="280px">
                <p style="text-transform: uppercase;">ram, <span>5/16/2023</span></p>
                <div class="card-body">
                    <h3>anything</h3>
                    <p>and anything else</p>
                    <a href="" class="btn btn-danger btn-lg " style="text-transform: uppercase;">read more</a>
                </div><!--cardbody end-->

            </div><!--card end-->
        </div>

        <div class="col-md-4 mt-5">
            <div class="card shadow-lg h-100">
                <img src="https://res.cloudinary.com/dbteh0acf/image/upload/v1683733733/blogImage/ftlk1kt1551jndz2rs2r.jpg"
                    alt="" height="280px">
                <p style="text-transform: uppercase;">shivani, <span>5/10/2023</span></p>
                <div class="card-body">
                    <h3>news title goes here</h3>
                    <p>description goes here</p>
                    <a href="" class="btn btn-danger btn-lg " style="text-transform: uppercase;">read more</a>
                </div><!--cardbody end-->

            </div><!--card end-->
        </div>

        <div class="col-md-4 mt-5">
            <div class="card shadow-lg h-100">
                <img src="https://res.cloudinary.com/dbteh0acf/image/upload/v1683536319/blogImage/vdf0trn7spssyafnawdx.png"
                    alt="" height="280px">
                <p style="text-transform: uppercase;">vikash, <span>5/8/2023</span></p>
                <div class="card-body">
                    <h3>BJP moves EC, seeks action against Cong, Sonia over Karnataka 'sovereignty'</h3>
                    <p>Karnataka Elections 2023 News Live Updates (May 8): The Bharatiya Janata Party (BJP) on
                        Monday filed

                    </p>
                    <a href="" class="btn btn-danger btn-lg " style="text-transform: uppercase;">read more</a>
                </div><!--cardbody end-->

            </div><!--card end-->
        </div>

        <div class="col-md-4 mt-5">
            <div class="card shadow-lg h-100">
                <img src="https://res.cloudinary.com/dbteh0acf/image/upload/v1683535750/blogImage/rwilptxeoewaxhiatf6s.png"
                    alt="" height="280px">
                <p style="text-transform: uppercase;">ADMIN, <span>5/8/2023</span></p>
                <div class="card-body">
                    <h3>IAF's MiG-21 crashes near Hanumangarh in Rajasthan; three villagers killed, pilot safe</h3>
                    <p>NEW DELHI: A MiG 21 fighter aircraft of the Indian A .. Read more at:
                        http://timesofindia.indiat</p>
                    <a href="" class="btn btn-danger btn-lg " style="text-transform: uppercase;">read more</a>
                </div><!--cardbody end-->

            </div><!--card end-->
        </div>

        <div class="col-md-4 mt-5">
            <div class="card shadow-lg h-100">
                <img src="https://res.cloudinary.com/dbteh0acf/image/upload/v1683523082/blogImage/nmjxg98nooivjhvlrajg.png"
                    alt="" height="280px">
                <p style="text-transform: uppercase;">SANNI, <span>4/9/2023</span></p>
                <div class="card-body">
                    <h3>22 dead, many missing after boat capsizes in Kerala’s Malappuram</h3>
                    <p>Kerala Boat tragedy: A tourist boat overturned in the river late on Sunday night nea</p>
                    <a href="" class="btn btn-danger btn-lg " style="text-transform: uppercase;">read more</a>
                </div><!--cardbody end-->

            </div><!--card end-->
        </div>

        <div class="col-md-4 mt-5">
            <div class="card shadow-lg h-100">
                <img src="https://res.cloudinary.com/dbteh0acf/image/upload/v1683522456/blogImage/yib0nj08jtns2y1pwmg4.png"
                    alt="" height="280px">
                <p style="text-transform: uppercase;">VIKASH, <span>5/10/2023</span></p>
                <div class="card-body">
                    <h3>The Kerala Story box office collection Day 3: Sudipto Sen’s film soon to join Rs 40 crore
                        club</h3>
                    <p>The Kerala Story box office collection Day 3: Since the film opened in theatres this week,
                        The Keral</p>
                    <a href="" class="btn btn-danger btn-lg " style="text-transform: uppercase;">read more</a>
                </div><!--cardbody end-->

            </div><!--card end-->
        </div>

        <div class="col-md-4 mt-5">
            <div class="card shadow-lg h-100">
                <img src="https://res.cloudinary.com/dbteh0acf/image/upload/v1683522179/blogImage/xtgjozirtdrcweppfbvj.png"
                    alt="" height="280px">
                <p style="text-transform: uppercase;">ADMIN, <span>6/11/2023</span></p>
                <div class="card-body">
                    <h3>Petrol-diesel price 8 May 2023: Fresh rate of fuel released; check rate list here</h3>
                    <p>Petrol-diesel price 8 May 2023: The Indian oil companies have kept the rate of petrol and
                        diesel ste</p>
                    <a href="" class="btn btn-danger btn-lg " style="text-transform: uppercase;">read more</a>
                </div><!--cardbody end-->

            </div><!--card end-->
        </div>
    </div><!--row end-->
</div><!--container end-->
<br><br>

<%-include('./footer.ejs')%>