<%-include('./header.ejs')%>

    <br><br><br>

    <div class="container mt-5 mb-5">
        <div class="row justify-content-center">

            <div class="col-md-6 mt-5 mb-5 text-center justify-content card">
                <div class="login-box card-body">
                    <h1 class="b">CREATE YOUR BLOG</h1>
                    <form action="">
                        <div class="form-group mb-3 mt-4" style="font-weight: 100;">
                            <input type="email" name="" placeholder="Email or Username" class="form-control" required>
                        </div>
                        <div class="form-group mb-3 mt-4" style="font-weight: 100;">
                            <input type="password" name="" placeholder="Password" class="form-control" required>
                        </div>
                        <div class="form-group mb-3 mt-4">
                            <button class="btn btn-primary btn-lg bb">Log In</button>
                        </div>
                        <h5 class="b ">creat a new account</h5>
                        <div class="form-group mb-3 mt-4">
                            <a href="ragister.html" class="btn btn-primary btn-lg bb"
                                style="text-transform: uppercase;">sign in</a>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>

    <br><br>

<%-include('./footer.ejs')%>